<style>
  .dataTables_filter{
    position: absolute;
    width: 50vw;
    top: 3vh;
    left: 50vw;
    font-size: 1.5em;
  }
input{
  font-size: 1.5em;
}
</style>

<%= javascript_include_tag 'jquery.dataTables.min.js' %>
<script type="text/javascript">
    // Styling the table with datatables library
    $(document).ready(function() {
        $('#serviceTypes').DataTable({"bLengthChange": false,
            "bDestroy": true,
            "pageLength":7
        });
        search_box = $('#serviceTypes').dataTable()
        search = document.getElementById('serviceTypes_filter').children[0].children[0];
        document.getElementById('serviceTypes_filter').setAttribute("onmousedown","showKeyboard();");
        keyboard = document.getElementsByClassName("keypad")[0]
        showAlphaKeypad();

    } );

    function showKeyboard(){
        console.log("show keyboard")
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }
</script>

<div class="section-header">
  Service Categories
</div>

<div style="height: 70vh; width: 100vw;">
  <table class="dashboard-main" id="serviceTypes" style="width: 100vw;">
    <thead>
      <th style="text-align: left;padding-left: 5px;">Name</th>
      <th>Number of Services</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% (@categories || []).each do |category| %>
      <tr>
        <td style="text-align: left;padding-left: 5px;"><%= category.name%></td>
        <td><%= category.number_of_services %></td>
        <td style="text-align: center;">
          <img  src="/assets/edit.png" onmousedown="window.location='/service_types/<%= category.id %>/edit'" title="Edit Category">
          <img  src="/assets/delete.png" onmousedown="window.location='/service_types/<%= category.id %>/edit'" title="Edit Category">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div id="keypad">
 <span class="keypad"></span>
</div>

<div class="footer">
  <button class="button green" style="float: right;" onmousedown="window.location='/'">Finish</button>
  <!--<button class="button blue" style="float: right;" onmousedown="window.location='/service_types/new'">Add Category</button> //-->
</div>

