<style>
  .dataTables_filter{
    position: absolute;
    width: 50vw;
    top: 3vh;
    left: 50vw;
    font-size: 1.5em;
  }
  input{
    font-size: 1.5em;
  }
</style>
<%= javascript_include_tag 'jquery.dataTables.min.js' %>
<script type="text/javascript">
    // Styling the table with datatables library
    $(document).ready(function() {
        $('#insurers').DataTable({"bLengthChange": false,
            "bDestroy": true,
            "pageLength":7
        });
        search_box = $('#insurers').dataTable()
        search = document.getElementById('insurers_filter').children[0].children[0];
        document.getElementById('insurers_filter').setAttribute("onmousedown","showKeyboard();");
        keyboard = document.getElementsByClassName("keypad")[0]
        showAlphaKeypad();

    } );

    function showKeyboard(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }
</script>
<div class="section-header" >
  Medical Insurance Providers
</div>
<div style="height: 70vh; width: 100vw;">
  <table id="insurers" class="dashboard-main" id="serviceTypes" style="width: 100vw;">
    <thead>
    <th style="text-align: left;padding-left: 5px;">Insurer Name</th>
    <th>Number of Schemes</th>
    <th>Phone Number</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% (@insurers || []).each do |insurer| %>
        <tr>
          <td style="text-align: left;padding-left: 5px;"><%= insurer.company_name%></td>
          <td><%= insurer.schemes.length %></td>
          <td><%= insurer.phone_numbers  %></td>
          <td>
            <%= link_to 'View', "/medical_scheme_providers/#{insurer.id}" %>
            <%= link_to 'Delete', "/medical_scheme_providers/#{insurer.id}/delete"  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div id="keypad">
  <span class="keypad"></span>
</div>
<div class="footer">
  <button class="green" style="float: right;" onmousedown="window.location='/'">Finish</button>
  <button style="float: right;" onmousedown="window.location='/medical_scheme_providers/new'">Add New Insurer</button>
</div>
