<% title "New Patient" %>
<style type="text/css">
.tt_controls_year_of_birth #qwerty {
display: none;
}

.tt_controls_age_estimate #qwerty {
display: none;
}

.tt_controls_cell_phone_number #qwerty {
display: none;
}

.tt_controls_ground_phone_number #qwerty {
display: none;
}

.tt_controls_office_phone_number #qwerty {
display: none;
}

.tt_controls_year_of_birth #Unknown {
display: block;
}

.tt_controls_age_estimate #Unknown {
display: none;
}

.tt_controls_middle_name #na {
display: block;
}

.tt_controls_ground_phone_number #Unknown {
display: block;
}

.tt_controls_region_of_origin .keyboard {
display: none;
}

.tt_controls_current_region .keyboard {
display: none;
}

.tt_controls_month_of_birth .keyboard {
display: none !important;
}

#tt_page_month_of_birth .options {
height: 30vh;
}

#tt_page_month_of_birth .options li {
font-size: 30px;
}

.tt_controls_home_village #space, #apostrophe {
display: inline;
}

.tt_controls_home_district #num {
display: none;
}

.tt_controls_current_traditional_authority_ta #space {
display: inline;
}

.tt_controls_current_village_residence #space {
display: inline;
}

.tt_controls_cell_phone_number #num, #plus, #apostrophe, #star, #char, #abc, #date, #slash, #minus, #comma, #percent, #decimal {
display: none;
}

.tt_controls_home_phone_number #num, #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal {
display: none;
}

.tt_controls_office_phone_number #num, #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal {
display: none;
}

.tt_controls_occupation .keyboard {
display: none;
}

#tt_page_occupation .options {
height: 55vh;
}

#tt_page_occupation .options li {
font-size: 30px;
}

#space {
display: inline;
}

.nota #na {
display: block;
}

#num {
display: block;
}

#char {
display: none;
}

#apostrophe {
display: inline;
}

.tt_controls_home_district #num {
display: none;
}

.tt_controls_current_district #num {
display: none;
}

.tt_controls_current_city_place_or_area_of_residence #num {
display: block;
}

.tt_controls_current_city_place_or_area_of_residence #char {
display: block;
}

.tt_controls_closest_landmark_or_plot_number #num {
display: block;
}

.tt_controls_closest_landmark_or_plot_number #char {
display: block;
}

.azButton .numericKeyboard #char {
display: block;
}

.tt_controls_occupation #keyboard {
display: none !important;
}

</style>

<%= form_for :patients, :method => "POST" ,remote: true, :url => "/patients/confirm_demographics"  do |f| %>

    <% if params[:given_name].blank? %>
        <%= text_field_tag "person[names][given_name]", params[:given_name],
                           {:id => "first_name",
                            :helptext => "First Name"} %>
    <% else %>
        <%= hidden_field_tag "person[names][given_name]", params[:given_name] %>
    <% end %>


    <%= text_field_tag "person[names][middle_name]", nil,
                       {:id => "middle_name",
                        :optional => true,
                        :tt_onLoad => 'if("#{params[:given_name]}".trim().length > 0){if(__$("backButton")){__$("backButton").style.display="none";}}',
                        :helptext => "Middle Name"} if @show_middle_name %>

    <% if params[:family_name].blank? %>
        <%= text_field_tag "person[names][family_name]", params[:family_name],
                           {:id => "last_name",
                            :helptext => "Last Name"} %>

    <% else %>
        <%= hidden_field_tag "person[names][family_name]", params[:family_name] %>
    <% end %>

    <%= text_field_tag "person[names][family_name2]", nil,
                       {:id => "maiden_name",
                        :optional => true,
                        :condition => "__$('gender').value == 'F'",
                        :helptext => "Maiden Name"} if @show_maiden_name %>

    <% if params[:gender].blank? %>
        <%= select_tag "person[gender]", options_for_select([["Male", "M"], ["Female", "F"], ["", ""]], params[:gender]),
                       {:id => "gender",
                        :helptext => "Gender"} %>
    <% else %>
        <%= hidden_field_tag "person[gender]", params[:gender], {id: :gender } %>
    <% end %>

    <%= text_field_tag "person[names][family_name2]", nil,
                       {:id => "maiden_name",
                        :condition => "__$('gender').value == 'Female'",
                        :helptext => "Maiden Name"} if @show_maiden_name %>

    <%= text_field_tag "person[birth_year]", nil,
                       {:id => "year_of_birth",
                        :field_type => "number",
                        :tt_pageStyleClass => "NumbersWithUnknown",
                        :absoluteMax => Date.current.year,
                        :absoluteMin => (Date.current.year - 120),
                        :min => (Date.current.year - 80),
                        :helptext => "Year Of Birth"} %>


    <%= select_tag "person[birth_month]", month_name_options,
                   {:id => "month_of_birth",
                    :helptext => "Month Of Birth",
                    :tt_pageStyleClass => "tt_controls_month_of_birth",
                    :doublepane => 'false',
                    :condition => '__$("year_of_birth").value != "Unknown"'} %>

    <%= text_field_tag "person[birth_day]", nil,
                       {:id => "date_of_birth",
                        :helptext => "Date Of Birth",
                        :tt_onLoad => "getDayOfMonthPicker($('year_of_birth').value, $('month_of_birth').value);$('nextButton').style.display = 'block';",
                        :condition => '__$("year_of_birth").value != "Unknown" && __$("month_of_birth").value != "Unknown"'} %>

    <%= text_field_tag "person[age_estimate]", nil,
                       {:id => "age_estimate",
                        :field_type => "number",
                        :tt_pageStyleClass => "NumbersOnly",
                        :max => 90,
                        :condition => '__$("year_of_birth").value.toLowerCase() == "unknown"',
                        :absoluteMax => 120,
                        :helptext => "Age"} %>

    <%= text_field_tag "person[citizenship]", nil,
                       {:id => "nationality",
                        :ajaxURL => "",
                        :tt_requireNextClick => false,
                        :tt_onLoad => "$('nextButton').style.display = 'none'; set_ajaxURL_for_suggestions('/patients/nationality?filter_value=', __$('nationality').value);",
                        :helptext => "Nationality"} if @show_region_of_origin %>

    <%= text_field_tag "person[race]", nil,
                       {:id => "race",
                        :helptext => "Specify nationality",
                        :tt_onLoad => "$('nextButton').style.display = 'block';",
                        :condition => '__$("nationality").value == "Other"'} if  @show_region_of_origin %>

    <%= select_tag "REGION OF ORIGIN", options_for_select([["Northern Region", "Northern+Region"],
                                                           ["Central Region", "Central+Region"], ["Southern Region", "Southern+Region"], ["", ""]]),
                   {:id => "region_of_origin",
                    :tt_requireNextClick => false,
                    #:condition => "__$('nationality').value == 'Malawian'",
                    :tt_onLoad => "$('nextButton').style.display = 'none';",
                    :helptext => "Region Of Origin"} if !@show_region_of_origin %>

    <%= text_field_tag "person[addresses][address2]", nil,
                       {:id => "district_of_origin",
                        :tt_requireNextClick => true,
                        :ajaxURL => "",
                        #:condition => "__$('nationality').value == 'Malawian'",
                        :tt_onLoad => "$('nextButton').style.display = 'block'; set_ajaxURL_for_suggestions('/patients/district?filter_value=', __$('region_of_origin').value); ",
                        :helptext => "District Of Origin"} if !@show_region_of_origin %>

    <%= text_field_tag "person[addresses][county_district]", nil,
                       {:id => "ancestral_traditional_authority",
                        :tt_requireNextClick => true,
                        :ajaxURL => "",
                        # :condition => "__$('nationality').value == 'Malawian'",
                        :tt_onLoad => "$('nextButton').style.display = 'block'; set_ajaxURL_for_suggestions('/patients/traditional_authority?filter_value=', __$('district_of_origin').value);",
                        :helptext => "Ancestral Traditional Authority"} if !@show_region_of_origin %>

    <%#= text_field_tag "person[addresses][neighborhood_cell]", nil,
                       {:id => "home_village",
                        :tt_requireNextClick => true,
                        :ajaxURL => "",
                        :condition => "__$('nationality').value == 'Malawian'",
                        :tt_onLoad => "set_ajaxURL_for_suggestions('/patients/village?filter_value=', __$('ancestral_traditional_authority').value);",
                        :helptext => "Home Village"} if !@show_region_of_origin %>

    <%#= text_field_tag "person[country]", nil,
                       {:id => "country",
                        :tt_requireNextClick => false,
                        :ajaxURL => "",
                        :tt_onLoad => "$('nextButton').style.display = 'none'; set_ajaxURL_for_suggestions('/patients/country?filter_value=', __$('country').value); ",
                        :helptext => "Country of Residence"} if !@show_current_district %>

    <%#= select_tag "CURRENT REGION", options_for_select([["Northern Region", "Northern+Region"],
                                                         ["Central Region", "Central+Region"], ["Southern Region", "Southern+Region"], ["", ""]]),
                   {:id => "current_region",
                    :tt_requireNextClick => false,
                    :condition => "__$('country').value == 'Malawi'",
                    :tt_onLoad => "$('nextButton').style.display = 'none';",
                    :helptext => "Current Region"} if !@show_current_district %>

    <%#= text_field_tag "person[addresses][state_province]", nil,
                       {:id => "current_district",
                        :tt_requireNextClick => false,
                        :ajaxURL => "",
                        :condition => "__$('country').value == 'Malawi'",
                        :tt_onLoad => "set_ajaxURL_for_suggestions('/patients/district?filter_value=', __$('current_region').value); ",
                        :helptext => "Current District"} if !@show_current_district %>

    <%#= text_field_tag "CURRENT AREA OR T/A", nil,
                       {:id => "current_area_of_residence",
                        :tt_requireNextClick => false,
                        :ajaxURL => "",
                        :condition => "__$('country').value == 'Malawi'",
                        :tt_onLoad => "$('nextButton').style.display = 'none'; set_ajaxURL_for_suggestions('/patients/traditional_authority?filter_value=', __$('current_district').value);",
                        :helptext => "Current Area Of Residence"} if !@show_current_t_a %>

    <%= text_field_tag "person[addresses][city_village]", nil,
                       {:id => "current_location_or_village",
                        :tt_requireNextClick => true,
                        :ajaxURL => "",
                        # :condition => "__$('country').value == 'Malawi'",
                        :tt_onLoad => "$('nextButton').style.display = 'block'; set_ajaxURL_for_suggestions('/patients/village?filter_value=', __$('ancestral_traditional_authority').value);",
                        :helptext => "Current Location Or Village"} if !@show_current_village %>

    <%= text_field_tag "person[addresses][address1]", nil,
                       {:id => "closest_landmark_or_plot_number",
                        :helpText => '<span style="font-size:0.9em;">Closest Landmark or Plot number</span> ' +
                            '<span style="font-size:0.5em;font-style:italic;">' +
                            '(Please do not enter words like: near, behind, close to)</span>',
                        :allowFreeText => true,
                        :ajaxURL => '',
                        # :condition => "__$('country').value == 'Malawi'",
                        :tt_pageStyleClass => "azButton",
                        :tt_onLoad => "$('nextButton').style.display = 'block'; set_ajaxURL_for_suggestions('/patients/landmark?filter_value='
                         ,document.getElementById('current_location_or_village').value);"} if !@show_current_landmark%>


    <%#= text_field_tag "person[cell_phone_number]", nil,
                       {:id => "cell_phone_number",
                        :validationRule => "^0\\d{7}$|Unknown|Not Available|^0\\d{9}$|^N\\/A$",
                        :validationMessage => "Not a valid phone number",
                        :tt_pageStyleClass => "NumbersWithUnknown nota",
                        :tt_onLoad  => '$("nextButton").style.display = "block" ',
                        :field_type => 'number',
                        :helptext => "Cell Phone Number"} if @show_cell_phone_number %>

    <%#= text_field_tag "person[office_phone_number]", nil,
                       {:id => "office_phone_number",
                        :tt_pageStyleClass => "NumbersWithUnknown nota",
                        :validationRule => "^0\\d{7}$|Unknown|Not Available|^0\\d{9}$|^N\\/A$",
                        :validationMessage => "Not a valid phone number",
                        :tt_onLoad  => '$("nextButton").style.display = "block" ',
                        :field_type => 'number',
                        :helptext => "Office Phone Number"} if @show_office_phone_number %>

    <%#= text_field_tag "person[home_phone_number]", nil,
                       {:id => "home_phone_number",
                        :tt_pageStyleClass => "NumbersWithUnknown nota",
                        :validationRule => "^0\\d{7}$|Unknown|Not Available|^0\\d{9}$|^N\\/A$",
                        :validationMessage => "Not a valid phone number",
                        :tt_onLoad  => '$("nextButton").style.display = "block" ',
                        :field_type => 'number',
                        :helptext => "Home Phone Number"} if @show_home_phone_number %>

    <%#= select_tag "person[occupation]", options_for_select(@occupations),
                   {:id => "occupation",
                    :tt_pageStyleClass => "tt_controls_occupation",
                    :helptext => "Occupation",
                    :optional => !@show_occupation,
                    :doublepane => 'false',
                    :tt_onLoad => "$('nextButton').style.display = 'block';"} if @show_occupation%>

    <!-- Make sure patient is created -->

    <%= hidden_field_tag "person[patient]", "" %>
    <%= hidden_field_tag "person[return_path]", "http://#{request.host_with_port}/process_result" %>
    <%= hidden_field_tag :identifier, params[:identifier] %>

    <input type='hidden' name='user_id' value='<%= params[:user_id] %>'/>
    <input type='hidden' name='location_id' value='<%= params[:location_id] %>'/>

    <%= submit_tag "Create person" %>

<% end %>
<script src="/assets/bht-help.js" defer></script>

<script type="text/javascript">
    function set_ajaxURL_for_suggestions(url, filter_value) {
        $('touchscreenInput' + tstCurrentPage).setAttribute('ajaxURL', url + filter_value + "&search_string=");
        listSuggestions(tstCurrentPage);
    }

</script>